section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8a2387;
    background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387); 
    background: linear-gradient(
      to right,
      #f27121,
      #e94057,
      #8a2387
    );
  }
  
  article {
    text-align: center;
    color: white;
    padding: 40px;
    box-shadow: 1px 1px 200px rgba(0, 0, 0, 0.8);
  }